@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* html */
html,body{
  height:100%;
  width:100%;
  font-family: 'Poppins',sans-serif;
  color: #222;
}
/* Navigation */
.navbar{
  padding: .8rem;
  background-color:#00aced;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
  text-transform: capitalize;
}
/* image */
.image {
  width: 100%;
  height:100%;
  margin: 0 auto;
}
.image-inner {
  width:100%;
  height:100%;
}
.image-inner img{
  width: 100%;
  height: 100%;
}
.image-caption{
  position: absolute;
  top: 45%;
  transform: translateY(-30%);
  left: 35%;
  color: #fff;
  text-align:center;
}
.image-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
.image-caption h3 {
  font-size: 200%;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
  text-align:center;
}
.btn-works {
  margin-top: 1.5rem;
}
/* about */
#about {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.about-title {
 margin-bottom: 2rem;
}
.display-4 {
  font-size: 3rem;
  font-weight:bold;
  margin-bottom: 2rem;
}
.subtitle {
  color: #fd7e00;
  margin: 0 auto;
  text-transform: uppercase;
}
.about-picture img{
  width: 70%;
  height: 100%;
}
.about-text {
  text-align: left;
}
.about-text ul li {
  margin: .8rem;
}
/* skill */
.padding {
  padding-bottom: 2rem;
}
.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}
.fa-css3 {
  color: #2163af;
}
.fa-js {
  color: #e6cf3e;
}
.fa-php {
  color: #7478ad;
}
.fa-git {
  color: #e94e32;
}
.fa-code, .fa-bold, .fa-css3 ,
 .fa-js , .fa-php , .fa-git {
  font-size: 4em;
  margin: 1rem;
}
/* carousel */
#portfolio {
  width: 75%;
}
.carousel-item {
  width: 75%;
  margin: 0 auto;
  background-color:darkblue;
}
.carousel-item a {
  display:block;
}
.carousel-inner img{
  width:100%;
  height:100%;
  opacity:0.7;
}
.carousel-inner img:hover{
  opacity: 0.2;
}
.carousel-inner p {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25%;
  font-size: 1.5rem;
  color: white;
}
.git {
  margin-top: 1.5rem
}
.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}
.fa-github {
  color: #24292e;
}
.fa-twitter:hover,
.fa-github:hover{
  color: #d5d5d5;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding: .5rem 0;
  text-align: center;
}
/*---Media Queries --*/
@media (max-width: 992px) {
.social a {
  font-size: 4em;
  padding: 2rem;
}
}
@media (max-width: 768px) {
.image-caption{
  left: 27%;
}
.image-caption h1{
  font-size: 450%;
}
.image-caption h3 {
  font-size: 140%;
  font-weight: 400;
  padding-bottom: .2rem;
}
.image-caption .btn {
  font-size: 95%;
  padding: 8px 14px;
}
.carousel-inner p {
  left: 20%;
  font-size: 1.5rem;
}
.social a {
  font-size: 3.5em;
  padding: 1.2rem;
}
#about,#portfolio {
  width: 100%;
}
}
@media (max-width: 576px) {
.image-caption {
  left:13%;
}
.image-caption h1{
  font-size: 350%;
}
.image-caption h3 {
  font-size: 110%;
}
.image-caption .btn {
  font-size: 90%;
  padding: 4px 8px;
}
.carousel-indicators {
  display: none;
}
.carousel-inner p {
  left: 17%;
  font-size: .8rem;
}
.social .lead {
  font-size: .9rem;
}
.social a {
  font-size: 3em;
  padding: .7rem;
}
}
/*---Firefox Bug Fix --*/
.image-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

#page_top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 30px;
}
#page_top a {
  background-color: rgba(73,173,238,1.0);
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
}
#page_top a:hover {
  background-color: rgba(73,173,238,0.5);
  text-decoration: none;
}
.fadein {
  opacity: 0;
  transform : translate(0, 100px);
  transition: all 1s;
}
.fadein.active {
  opacity: 1;
  transform: translate(0,0);
}




